@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: #eeeeee;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.main h1 {
    margin-bottom: 10px;
}
.footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eeeeee;
}
button {
    background: navy;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 10px ;
    font-weight: 500;
    cursor: pointer;
}

button::hover {
    opacity: 0.9;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
}

.form-group input, .form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
}
h2, h1 {
    padding: 10px 20px;
    margin-bottom: 10px;
}
h1 {
    font-weight: 500;
}
/* Navigation styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background: navy;
    color: white;
}
.brand p {
    font-size: x-large;
    font-weight: 600;
    color: white;
    padding-left: 20px;
}
button a {
    text-decoration: none;
    color: white;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.links ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.links ul li a {
    text-decoration: none;
    color: white;
}

.links ul li a:hover {
    color: #eeeeee;
}

.logout {
    background: white;
    color: navy ;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.links ul .logout a {
    text-decoration: none;
    color: navy;
}

.logout:hover {
    background: navy;
    color: white;
}

/* Dashboard */
.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin-top: 20px;
    background-color: #ccc;
    width: 90%;
    border-radius: 10px;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.card {
    display: flex;
    flex-direction: column;
    background: #ccc;
    width: 400px;
    border-radius: 10px;
    margin-top: 20px;
    transition: 0.5s;
}

.card h3 {
    font-size: 60px;
    color: navy;
    font-weight: 700;
    padding: 10px 20px;
}
.card p {
    padding: 0px 0px 10px 10px;
}
.card:hover {
    cursor: pointer;
    border-bottom: 1px solid navy;
}
/* Pages */
.errors {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    color: red;
    font-size: small;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.user {
    padding: 5px 20px ;
    background-color: #ccc;
    margin: 0 10px 0 0;
    border-radius: 10px;
}
.bold {
    font-weight: 700;
}
.resource-main {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.resource-main .form-container form{
    width: 50%;
    padding: 0 10px;
}
.resource-main .form-container form button{
    width: 100%;
}
.resource-main .table-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 400px;
    background: #ccc;
    margin: 10px;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}
.table-container p {
    padding: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    height: auto;
}
table thead tr th{
    text-align: center;
    font-weight: 500;
    background: #8a8a8a;
    padding: 10px 0;
}
table tbody tr td{
    text-align: center;
    padding: 10px 0;
}
.actions {
    display: flex;
    align-items: center;
}

.success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
    height: 10vh;
    margin-top: 5px;
    background-color: rgba(0, 128, 0, 0.342);
    width: 90%;
    border-radius: 10px;
    border: 1px solid green;
}
.report-page .form-container form {
    display: flex;
    gap: 10px;
}
.report-page .form-container form button {
    width: 100%;
    height: 40px;
    margin-top: 10px;
}